[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

ServerData/

.vs/
.vscode/
.idea/
.vsconfig
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.suo
*.vsidx

.DS_Store
Thumbs.db
desktop.ini

!Assets/**/*.meta
